{{ "hola" | uppercase  }}
<div class="wrapper">

    <div class="container-fluid">
        <header class="header">
            <img src="assets/img/logo.svg" alt="Maleteo">
        </header>
    </div>
</div>
<main>
    <div class="jumboWhite">
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="app-form__w-app-img">
                        <img src="assets/img/iPhoneX.png" srcset="assets/img/iPhoneX@2x.png 2x, assets/img/iPhoneX.png 1x" alt="" class="app-form__app-img">
                    </div>
                    <div class="col-md-6">
                        <div class="jumboWhite__ww-title">
                            <div class="jumboWhite__w-title">
                                <h1 class="jumboWhite__title heading1 text-gradient">
                                    Gana dinero guardando equipaje a viajeros como tu
                                </h1>
                                <p class="heading4 jumboWhite__p">Controla todo a través de una app de forma fácil y sencilla</p>
                                <ul class="jumboWhite__app-btns">
                                    <li>
                                        <a href="#">
                                            <img src="assets/img/app-store.svg" alt="" class="jumboWhite__app-btn">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="assets/img/google-play.svg" alt="" class="jumboWhite__app-btn">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6 col-xs-6 jumbo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">


            <section class="app-form">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="howworks__title heading2">
                            ¿Cómo funciona?
                        </h2>
                    </div>
                    <section class="howworks col-md-6">
                        <ol class="howworks__steps row">
                            <!--Aquí ponemos el primer elemnto con bola -->
                            <li class="col-md-12">
                                <div class="howworks__step">
                                    <div class="howworks__step-w-bola" style="display:inline-flex">
                                        <div style="float:right">
                                            <div class="howworks__step-bola">
                                                <span class="heading3">1</span>
                                            </div>
                                        </div>
                                        <p class="howworks__step-title heading3" style="float:left">
                                            Date de alta
                                        </p>
                                    </div>
                                    <div class="howworks__step-w-txt">

                                        <p class="howworks__step-txt">
                                            Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <!--Aquí ponemos el segundo elemnto con bola -->
                            <li class="col-md-12">
                                <div class="howworks__step">
                                    <div class="howworks__step-w-bola">
                                        <div class="howworks__step-bola">
                                            <span class="heading3">2</span>
                                        </div>
                                        <p class="howworks__step-title heading3">
                                            Date de alta
                                        </p>
                                    </div>
                                    <div class="howworks__step-w-txt">

                                        <p class="howworks__step-txt">
                                            Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <!--Aquí ponemos el tercer elemnto con bola -->
                            <li class="col-md-12">
                                <div class="howworks__step">
                                    <div class="howworks__step-w-bola">
                                        <div class="howworks__step-bola">
                                            <span class="heading3">3</span>
                                        </div>
                                        <p class="howworks__step-title heading3">
                                            Date de alta
                                        </p>
                                    </div>
                                    <div class="howworks__step-w-txt">

                                        <p class="howworks__step-txt">
                                            Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </section>
                    <!-- ESTA ES LA IMAGEN DEL IPHONE X 
        <div class="col-md-5">
          <div class="app-form__w-app-img">
            <img src="assets/img/iPhoneX.png"
                 srcset="assets/img/iPhoneX@2x.png 2x, assets/img/iPhoneX.png 1x"
                 alt=""
                 class="app-form__app-img">
          </div>
        </div> -->

                    <app-registro class="col-md-5"></app-registro>

                </div>
            </section>
            <!--------------------------------------------OPINIONES DE OTROS GUARDIANES----------------------------->
            <section class="opinions">
                <h2 class="opinions__title heading2">
                    Opiniones de otros guardianes
                </h2>
                <ul class="row">
                    <li class="col-md-4">
                        <div class="opinion">
                            <blockquote class="opinion__blq simple-bubble text-large speech-bubble speech-bubble2">
                                Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
                            </blockquote>
                            <div class="avatar">
                                <div class="avatar__img">
                                </div>
                                <div class="avatar__txt">
                                    <p class="opinion__author text-large">
                                        Sergio Garnacho
                                    </p>
                                    <p class="opinion__author-address">
                                        Tetuán, Madrid
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="opinion">
                            <blockquote class="opinion__blq simple-bubble text-large speech-bubble">
                                Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
                            </blockquote>
                            <div class="avatar">
                                <div class="avatar__img">
                                </div>
                                <div class="avatar__txt">
                                    <p class="opinion__author text-large">
                                        Sergio Garnacho
                                    </p>
                                    <p class="opinion__author-address">
                                        Tetuán, Madrid
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="opinion">
                            <blockquote class="opinion__blq simple-bubble text-large speech-bubble">
                                Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
                            </blockquote>
                            <div class="avatar">
                                <div class="avatar__img">
                                </div>
                                <div class="avatar__txt">
                                    <p class="opinion__author text-large">
                                        Sergio Garnacho
                                    </p>
                                    <p class="opinion__author-address">
                                        Tetuán, Madrid
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1517.8785896808452!2d-3.6943865489572323!3d40.45851103714373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4229036539b84b%3A0xe9147f67419c2744!2sCalle%20de%20Orense%2C%2069%2C%2028020%20Madrid!5e0!3m2!1ses!2ses!4v1570665950814!5m2!1ses!2ses"
        class="iframeMaps" frameborder="0" allowfullscreen=""></iframe>
</main>
<footer class="footer">
    <div class="wrapper">
        <div class="container-fluid">
            <img src="assets/img/logo1.svg" alt="Maleteo" class="footer__logo">
            <p class="footer__claim">
                Hecho con ❤️ en Madrid
            </p>
        </div>
    </div>
</footer>